{% extends "layouts/base.njk" %}
{% set pageClass = 'page-home' %}
{% block page_content %}

<section class="page-hero content-section">
    <h1 class="page-title" style="width: 300px; line-height: 1.1;">
        <span>Lead<br>Designer.<br>
        <span class="h1-second-line">Systems<br>Strategist.</span>
    </h1>
    <p class="page-subtext">
        I translate complex business needs into compelling design outcomes, leveraging 15+ years of strategic leadership and hybrid front-end development to enhance usability and drive adoption.
    </p>
    <a href="mailto:ken@kennethwcourtney.com?subject=Discussion%20Regarding%20Your%20Portfolio" class="button say-hi-button button-hover-effect">say hi</a>
</section>

<section id="work" class="work-grid-section content-section">
    <h2>Featured Case Studies</h2>
    <div class="work-grid">
        <a href="{{ '/case-studies/alerts-management-redesign/' | url }}" class="work-item-card-wrapper-link">
            <article class="work-item-card">
                <div class="work-item-icon-placeholder">
                    <svg xmlns="http://www.w3.org/2000/svg" width="104" height="103" viewBox="0 0 104 103" fill="none">
                        <path d="M102 80.1263L70.2324 48.3586L102 16.5791L86.9208 1.49976L55.1412 33.2675L23.3734 1.49976L8.28223 16.5791L40.0618 48.3586L8.28223 80.1263L23.3734 95.2057L55.1412 63.438L86.9208 95.2057L102 80.1263Z" stroke="#F8F9FA" stroke-width="1.5949" stroke-miterlimit="10"/>
                        <path d="M95.7179 86.409L63.9384 54.6413L95.7179 22.8736L80.6268 7.78247L48.859 39.5502L17.0911 7.78247L2 22.8736L33.7678 54.6413L2 86.409L17.0911 101.5L48.859 69.7325L80.6268 101.5L95.7179 86.409Z" fill="#D9D9D9" stroke="#008FFF" stroke-width="1.5949" stroke-miterlimit="10"/>
                    </svg>
                </div>
                <div>
                    <span class="work-item-tag">ENTERPRISE UX </span>
                    <h3 class="work-item-title">Redesigning Enterprise Alerts Management</h3>
                    <p class="work-item-description">Overhauled a complex legacy alert system, creating detailed specs and a user-centered wizard design that cut related support tickets by 30% and improved configuration confidence.</p>
                    <span class="work-item-link">View case study ></span>
                </div>
            </article>
        </a>
        <a href="{{ '/case-studies/customer-onboarding/' | url }}" class="work-item-card-wrapper-link">
            <article class="work-item-card">
                <div class="work-item-icon-placeholder">
                    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="93" viewBox="0 0 90 93" fill="none">
                        <rect x="0.5" y="1.16675" width="79" height="79" stroke="url(#paint0_linear_4233_26120)"/>
                        <rect x="-0.795" y="0.795" width="78.41" height="78.41" transform="matrix(-1 0 0 1 88.41 12.3335)" fill="#D9D9D9" stroke="#008FFF" stroke-width="1.59"/>
                        <defs>
                            <linearGradient id="paint0_linear_4233_26120" x1="40" y1="0.666748" x2="40" y2="80.6667" gradientUnits="userSpaceOnUse">
                            <stop stop-color="white" stop-opacity="0.96"/>
                            <stop offset="1" stop-color="white" stop-opacity="0.35"/>
                            </linearGradient>
                        </defs>
                        </svg>
                    </div>
                <div>
                    <span class="work-item-tag">UX STRATEGY & RESEARCH</span>
                    <h3 class="work-item-title">Transforming Enterprise Customer Onboarding</h3>
                    <p class="work-item-description">Spearheaded strategic UX research initiative that identified root causes of customer friction, leading to process redesign that eliminated weeks of delays.</p>
                    <span class="work-item-link">View case study ></span>
                </div>
            </article>
        </a>
        <a href="{{ '/case-studies/fleet-dashboard/' | url }}" class="work-item-card-wrapper-link">
            <article class="work-item-card">
                <div class="work-item-icon-placeholder">
                    <svg xmlns="http://www.w3.org/2000/svg" width="114" height="103" viewBox="0 0 114 103" fill="none">
                        <path d="M0.682617 1.50049L11.3908 12.2087" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M11.3908 1.50049L0.682617 12.2087" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M34.6606 1.50049L45.3688 12.2087" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M45.3688 1.50049L34.6606 12.2087" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M68.6401 1.50049L79.3393 12.2087" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M79.3393 1.50049L68.6401 12.2087" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M102.609 1.50049L113.317 12.2087" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M113.317 1.50049L102.609 12.2087" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M0.682617 31.2651L11.3908 41.9733" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M11.3908 31.2651L0.682617 41.9733" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M34.6606 31.2651L45.3688 41.9733" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M45.3688 31.2651L34.6606 41.9733" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M68.6401 31.2651L79.3393 41.9733" stroke="#008FFF" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M79.3393 31.2651L68.6401 41.9733" stroke="#008FFF" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M102.609 31.2651L113.317 41.9733" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M113.317 31.2651L102.609 41.9733" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M0.682617 61.0291L11.3908 71.7373" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M11.3908 61.0291L0.682617 71.7373" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M34.6606 61.0293L45.3688 71.7375" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M45.3688 61.0293L34.6606 71.7375" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M68.6401 61.0293L79.3393 71.7375" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M79.3393 61.0293L68.6401 71.7375" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M102.609 61.0293L113.317 71.7375" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M113.317 61.0293L102.609 71.7375" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M0.682617 90.7915L11.3908 101.5" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M11.3908 90.7915L0.682617 101.5" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M34.6606 90.7915L45.3688 101.5" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M45.3688 90.7915L34.6606 101.5" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M68.6401 90.7915L79.3393 101.5" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M79.3393 90.7915L68.6401 101.5" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M102.609 90.7915L113.317 101.5" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                        <path d="M113.317 90.7915L102.609 101.5" stroke="#D9D9D9" stroke-width="1.59" stroke-miterlimit="10"/>
                      </svg>
                </div>
                <div>
                    <span class="work-item-tag">B2B SaaS UX</span>
                    <h3 class="work-item-title">B2B SaaS Fleet Dashboard Design</h3> 
                    <p class="work-item-description">Transformed a fragmented workflow into a real-time SaaS dashboard. Cut task steps by 50%, increased issue detection speed by 30%, and became the most-used page within 30 days.</p>
                    <span class="work-item-link">View case study ></span>
                </div>
            </article>
        </a>
    </div>
</section>
{% endblock %}